/* 숨기기 */
.hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* reset */
select{
    border: none;
    appearance: none;
}

/* style */
.selectbox-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#select-language{
    width: 200px;
    height: 40px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 12px 14px;
    font-size: 12px;
}