/* 숨기기 */
.hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* reset */
select{
    border: none;
    appearance: none;
    outline: none;
}

select option:checked, select option:hover{
    border: none;
}

/* style */
.selectbox-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#select-language{
    width: 200px;
    height: 40px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 12px 14px;
    font-size: 12px;
    background : url("./images/icon-Triangle-down.png") no-repeat 95% 50%;
    background-size: 12px 8px;
    cursor: pointer;
}

#select-language:focus{
    border: 1px solid #9B51E0;
    outline: 3px solid #F8E4FF;
}

.option-box{
    border-radius: 10px;
}

